
<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
    <h1>Weather App</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="city" placeholder="Enter city name">
        <button type="submit">Submit</button>
    </form>
    {% if error_message %}
        <p class="error-message">{{ error_message }}</p>
    {% else %}
        <div class="weather-info">
            <p>City: {{ city_name }}</p>
            <p>Temperature: {{ temp }}°C</p>
            <p>Description: {{ description }}</p>
            <p>Date: {{ day }}</p>
            <p>Latitude: {{ latitude }}</p>
            <p>Longitude: {{ longitude }}</p>
            <img class="weather-icon" src="http://openweathermap.org/img/w/{{ icon }}.png" alt="Weather Icon">
        </div>
    {% endif %}
</body>
</html>
